#fixed{
	position: fixed;
	border: 3px solid #990099;
	right: 0;
}

#relative{
	position: relative;
	border: 3px solid #990033;
}

#absolute{
	position: absolute;
	border: 3px solid #990099;
}

#static{
	position: static;
	border: 3px solid #990099;
}