
td {
	border: 2px solid black;
	padding: 3px;
	background-color: grey;
}
.tabledata{
	padding: 6px;
	margin: 5px;
	background-color: grey;
}
tr {
	padding: 3px;

}

th {
	font-family: sans-serif;
}

